<table class="table container p-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Designation</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Ahad</td>
            <td>Ali</td>
            <td>Associate Software Engineer</td>
            <td>ahad.a@hsenid.com</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <button type="button me-2" class="btn btn-outline-secondary" (click)="update(1)">Update</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Ahad</td>
            <td>Ali</td>
            <td>Associate Software Engineer</td>
            <td>ahad.a@hsenid.com</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <button type="button" class="btn btn-outline-secondary">Update</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </div>
            </td>

        </tr>
    </tbody>
</table>