<table class="table container p-3" *ngIf="showEmployee">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Designation</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of allEmployees;">
            <th scope="row">{{employee.id}}</th>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.designation}}</td>
            <td>{{employee.email}}</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <button type="button me-2" class="btn btn-outline-secondary" (click)="update(employee.id)">Update</button>
                    <button type="button" class="btn btn-outline-danger" (click)="delete(employee.id)">Delete</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>